body {
	background: #ddd;
}

li.feed {
    margin: 4px;
}

li.folder > h5 {
    border: 0px;
    background: #ccc;
}

li.folder > h4 {
    border: 0px;
}

li.feed.has-unread {
    font-weight: normal;
}

.label, .badge {
    color: #aaa;
    background-color: transparent;
}

.well, .navbar {
    border: 0px;
    background-color: #fff;
    border-top: 8px solid #ddd;
    border-radius: 0px;
}

.navbar {
    max-width: 1024px;
    margin: 15px auto;
}

.navbar .nav > li > a {
    padding: 8px;
}

#paging-up, #paging-down {
    display: none;
}

.nav-collapse.collapse {
	font-size: 70%;
}

.item-info-end {
    font-size: 70%;
    color: #aaa;
}

.item-content {
    text-align: justify;
}

.row-fluid .span3 {
    overflow: hidden;
    font-size: 70%;
    min-width: 130px;
}

.row-fluid .span9 {
    border-radius: 3px;
}

#list-items {
    max-width: 1024px;
    margin: auto;
    background: #fff;
}

.item-link {
	color: #888;
    font-size: 1.3em;
}

.item-expanded {
	color: #888;
}

.current .item-link {
	color: #000;
}

.current {
	color: #000 !important;
	background-color: #fff !important;
}

.current-feed .label, .folder h4 .label {
    color: #000;
}

.current, .current-feed, .current-folder > h5, .current-folder > h4 {
    background-color: #fff;
}

#list-feeds {
	margin: 30px;
}

.folder {
	margin: 15px 0;
}

/* hide stuff in feeds */
.feedflare {
    display: none;
}

form fieldset {
    border: none;
    background: #fff;
    border-radius: 3px;
}

form fieldset legend {
    padding-top: 20px;
}

.btn, button {
    border: none;
    background-color: #fff;
    margin: 5px 0px 0px 3px;
    border-radius: 3px;
    color: #222;
}

.item-title .item-shaarli, .item-title .item-mark-as, .item-title .item-starred {
    display: none;
}

a.item-via {
    color: #aaa;
}

.item-info-time {
    padding-top: 3px;
}

.ico-feed-dot {
    background-color: #aaa;
}

.ico-feed-circle-1, .ico-feed-circle-2 {
    border-color: #aaa #aaa transparent transparent;
}

.ico-b-disc {
    background-color: #aaa;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    top: 4px;
}

.ico-w-line-h {
    width: 5px;
    top: 8px;
    left: 3px;
}

.ico-w-line-v {
    height: 6px;
    top: 6px;
    left: 4px;
}

@media (max-width: 767px) {
    body {
        background: #fff;
        font-family: sans-serif;
    }
    #status, .item-shaarli, .item-starred {
        display: none;
    }
    .item-content {
        font-size: 85%;
    }
    .navbar, .container, .navbar .btn-navbar, .navbar .brand {
        margin: 5px;
        font-size: 8px !important;
        padding: 0;
        line-height: 0px !important;
    }
    .item-expanded {
        border-top: 0px;
    }
    .label, .badge {
        color: #fff;
        background-color: #888;
    }
    .row-fluid .span9 {
        width: 95%;
    }
    .item-info-end {
        font-size: 50%;
    }
    .item-title .item-mark-as {
        display: inline;
    }
    .item-link {
    font-size: 1em;
    }

    .item-xml {
        display: none;
    }

    .item-info-time {
        padding-top: 0px;
    }
}